nav {
    width: 100vw;
    height: 70px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0);
    transition: 0.5s;
    z-index: 1000;
  
    &.nav-collapse {
        background: rgba(0, 0, 0, 0.5);
        height: 90px;
    }
  
    .menu-icons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        a {
            color: var(--primary, #F3C623);
            text-align: center;
            font-family: Raleway;
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 0.36px;
            margin: 0 10px;
        }
  
        .profile-box {
            user-select: none;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 20px;
            cursor: pointer;
    
            .pfp {
            width: 50px;
            height: 50px;
            border-radius: 6px;
            margin-right: 10px;
            image-rendering: pixelated;
            }
    
            .dropdown {
            display: flex;
            flex-direction: column;
            padding: 15px 10px;
            position: absolute;
            opacity: 1;
            top: calc(100% + 5px);
            border-radius: 3px;
            width: 200px;
            background: #1d1d1d;
            visibility: hidden;
            cursor: auto;
            transition: 0.3s;
    
                &.dropdown-hidden {
                    opacity: 0;
                }
    
                a {
                    text-align: left;
                    color: $primary;
                    font-size: 20px;
                    padding: 5px;
                    font-weight: bold;
                }
            }
      }
    }
}